<% if @compound_names.count > 0 %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
    </thead>
    <% @compound_names.each_with_index do |element, index| %>
      <% if !element.nil? && ((index < 30 && type == 'left') || (index >= 30 && type == 'right')) %>
        <tr>
          <td><%= element.name %></td>
          <td>
            <%= link_to '', class: 'btn', title: 'Editar nome composto' do %>
              <%= display_icon('icon-edit') %>
            <% end %>
          </td>
          <td>
            <%= button_to 'Remover', compound_name_path(element, moodle_user: params[:moodle_user]),
                          class: 'btn btn-danger',
                          confirm: "Tem certeza que deseja apagar o nome composto: #{element.name}?",
                          method: :delete, title: 'Remover nome composto' do %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br />
<% else %>
  <p>Não há nomes compostos cadastrados.</p>
<% end %>