<div id="final_consideration_tab_content" style = "display:none; margin-left: 0px" class = "span12">
  <h3>Considerações finais</h3>
  <%= f.fields_for :final_considerations do |fc| %>
    <%= fc.cktext_area :content %>
  <% end %>
</div>