<div id="presentation_tab_content" style = "display:none; margin-left: 0px" class = "span12">
  <h3>Apresentação</h3>
  <%= f.fields_for :presentation do |p| %>
      <%= p.cktext_area :content %><br>
  <% end %>
</div>