[submodule "app/assets/javascripts/ckeditor/plugins/autogrow"]
	path = app/assets/javascripts/ckeditor/plugins/autogrow
	url = https://github.com/UFSC/moodle-tcc-ckeditor-autogrow.git
[submodule "app/assets/javascripts/ckeditor/plugins/citacao"]
	path = app/assets/javascripts/ckeditor/plugins/citacao
	url = https://github.com/UFSC/moodle-tcc-ckeditor-citacao.git
