<h4>Tela de Orientador</h4>

<table class="table table-bordered">
  <thead>
      <tr>
        <th colspan="3"></th>
        <th colspan="2">Resuno</th>
        <th colspan="2">Apresentação</th>
        <th colspan="2">Considerações finais</th>
        <% TCC_CONFIG["hubs"].size.times do |i| %>
            <th colspan="2">Eixo <%= i+1 %></th>
        <% end %>
      </tr>
      <tr>
        <th>ID</th>
        <th>nota</th>
        <th>Estudante</th>
        <% 3.times do %>
            <th>Estado</th>
            <th>Ação</th>
        <% end %>
        <% TCC_CONFIG["hubs"].size.times do |i| %>
            <th>Estado</th>
            <th>Ação</th>
        <% end %>
      </tr>
  </thead>
  <tbody>
  <% @tccs.each do |tcc| %>
      <tr>
        <td><%= tcc.moodle_user %></td>
        <td>Falta..</td>
        <td>Falta..</td>
        <td>Falta..</td>
        <td>Falta..</td>
        <td>Falta..</td>
        <td>Falta..</td>
        <td>Falta..</td>
        <td>Falta..</td>
        <% TCC_CONFIG["hubs"].size.times do |i| %>
            <td><%= get_state(tcc, (i+1)) %></td>
            <td>
              <%= link_to get_action(tcc, (i+1)),
                          show_hubs_path(category: (i+1), moodle_user: tcc.moodle_user), target: "_blank" %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>