<% if @type == 'portfolio' %>

  <h3>Lista de Portfólios</h3><br />
  <%= render partial: 'tutor' %>

<% elsif @type == 'tcc' %>

  <h3>Lista de TCCs</h3><br />
  <%= render partial: 'leader' %>

<% else %>
  <p class="text-error">Parâmetro inválido</p>
<% end %>

<%= will_paginate @tccs %>