<h3>Lista de TCCs</h3><br/>
<h4>
  Tela de Visão Geral
</h4>

<%= render :partial => 'common/search_bar', locals: {path: instructor_admin_path,
                                                     autocomplete_path: instructor_admin_autocomplete_tcc_name_path} %>

<%= render :partial => 'tcc_listing' %>


<%= paginate @tccs %>