<h3>Lista de TCCs</h3><br>

<% if @type == "portfolio" %>
    <%= render partial: "tutor" %>
<% elsif @type == "tcc" %>
    <%= render partial: "leader" %>
<% else %>
    <p class="text-error">Parâmetro inválido</p>
<% end %>

<%= will_paginate @tccs %>
