<h3>Lista de TCCs</h3><br>

<table class="table">
  <thead>
  <tr>
    <th>Nome do estudante</th>
    <th>Nota</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <% @tccs.each do |tcc| %>
      <tr>
        <td><%= tcc.name %></td>
        <td>falta..</td>
        <td><%= link_to "Avaliar", tccs_path(:moodle_user => tcc.moodle_user), :target => "_blank" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @tccs %>