<% if policy(Tcc).show_internal_institutions? %>
  <%= render 'instructor_admin/navbar' %>
<% else %>
  <h3><%= t('activerecord.models.internal_institution') %></h3><br/>
<% end %>

<%= render 'common/tabs_header_config' %>
