<div class="span12">
<% if @current_user.student? %>
  <%= render 'common/tabs_header' %>
  <%= render partial: 'form' %>
<% else %>
    <h3><%= @hub.hub_definition.title + ' - ' + @tcc.name %></h3>
  <%= render partial: 'admin' %>
<% end %>
</div>