development:
  delivery_method: :file

test:
  delivery_method: :test

production:
#  delivery_method: :smtp
#    smtp_settings:
#      address:              smtp.example.com
#      port:                 587
#      domain:               example.com
#      user_name:            example@example.com
#      password:             MY_PASSWORD
#      authentication:       plain
#      enable_starttls_auto: true