# to run on development environment
# bundle exec sidekiq -C config/sidekiq.yml

:pidfile: ./tmp/pids/sidekiq.pid
:queues:
  - UnASUS
development:
  :concurrency: 5
staging:
  :concurrency: 5
production:
  :concurrency: 5