common: &common
  moodle_url: http://homologacao-moodle35.ifes.br/
  moodle_token: fca9cefae846329c86bb8b7a64eff97f

  consumer_key: consumer_key
  consumer_secret: consumer_secret

  notification_email: tcc@ifes.br

  redis_host: redis
  redis_port: 6379

  docker_image: ''

  swift_auth_url     : ''
#  swift_auth_url     : http://swift.server.ifes.br:80/auth/v1.0/
#  swift_user         : username:readwrite
#  swift_password     : password
#  swift_temp_url_key : value_from_swift_server
#  swift_seconds_URL_lives: 7200

development:
  <<: *common

production:
  <<: *common

test:
  <<: *common
