development:
  # Integração com Moodle
  moodle_url: https://moodle.local
  moodle_token: 59864ec673b9eadc141ec43d3e634065

  # Integração OAUTH
  consumer_key: consumer_key
  consumer_secret: consumer_secret

  notification_email: notification@example.org

test:
  # Integração com Moodle
  moodle_url: https://moodle.local
  moodle_token: 59864ec673b9eadc141ec43d3e634065

  # Integração OAUTH
  consumer_key: consumer_key
  consumer_secret: consumer_secret

  notification_email: notification@example.org
production:
#  moodle_url:
#  moodle_token:

#  consumer_key:
#  consumer_secret:

#  notification_email: