<div class="alert alert-danger">
  <h2>
    <%= display_icon('lock') %> Falha na autenticação LTI
  </h2>

  <p>Você deve acessar essa ferramenta clicando no link da disciplina do Moodle.</p>
  <p>Detalhes do problema: <strong><%= @exception %></strong>.</p>
</div>