<div class="alert alert-danger">
  <h2>
    <%= display_icon('lock') %> Usuário não cadastrado!
  </h2>

  <p>O usuário que você está tentando utilizar, não está cadastrado nesse sistema.</p>
  <p>Detalhes do problema: <strong><%= @exception %></strong>.</p>
</div>