<div class="alert alert-danger">
  <h2>
    <%= display_icon('lock') %> TCC não encontrado!
  </h2>

  <p>Acesse o sistema somente através do link no <strong>Moodle</strong>.</p>

  <p>Detalhes do problema: <strong><%= @exception %></strong>.</p>
</div>