<div class="alert alert-danger">
  <h2>
    <%= display_icon('lock') %> Acesso não autorizado
  </h2>

  <p>Você não possui acesso a esta funcionalidade. Detalhes do problema: <strong><%= @exception %></strong>.</p>
</div>