<h2>Impressão em lote de TCCs</h2>
</br>
<p>Para iniciar o download é preciso seguir os seguintes passos:</p>
<ul>
  <li>Ter instalado o <a href="https://www.mozilla.org/pt-BR/firefox/new/">firefox</a></li>
  <li>Instalar o complemento <a href="https://addons.mozilla.org/pt-br/firefox/addon/downthemall/">DownThemAll</a></li>
  <li>Salvar o anexo em uma pasta local</li>
  <li>Abrir arquivo anexado com o aplicativo (botão da direita sobre arquivo) <b>Abrir com o navegador Web Firefox</b></li>
  <li>Selecionar opção <b>dTa OneClick!</b> e pressionar o botão <b>OK</b></li>
  <li>Opcionalmente pode-se escolher a pasta onde os arquivos serão salvos: <b>Salvar arquivos em:</b></li>
  <li>Para començar o download basta pressionar o botão <b>Iniciar!</b></li>
</ul>
</br>
<%= link_to 'Link para tarefa de TCC do Moodle', @url_tcc %>