<div class="col-sm-12">
  <%= render 'common/tabs_header' %>
  <%= render partial: 'header', locals: {object: @chapter, object_label: @chapter.chapter_definition.title} %>

  <div class="jumbotron">
    <h2>Não existe conteúdo ainda neste capítulo</h2>

    <p>Para iniciar este capítulo, o estudante precisa importar o texto realizado na atividade do Moodle.</p>
  </div>
</div>