<div id="modal-tcc-grade" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="compound_names" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Avaliação</h3>
        <h5><%= student_name(@tcc) %></h5>
      </div>

      <%= semantic_form_for @tcc, url: evaluate_tcc_path(moodle_user: @tcc.student.moodle_id) do |t| %>
        <div class="modal-body">
          <%= t.input :grade, label: 'Nota para o TCC:', hint: 'atribuir um valor inteiro de 0 à 100', input_html: {autofocus: true, step: 10} %>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
          <%= submit_tag t(:btn_evaluate), class: 'btn btn-success' %>
        </div>
      <% end %>

    </div>
  </div>
</div>