<h4>CRIAR TEXTO PDF</h4>
<% if !@path.nil? %>
    <div class="alert alert-success">
      <%= @path %>
    </div>
<% end %>
<form action='/createpdf'>
  <p>
    Caminho do arquivo .tex: <input type='text' name='path' placeholder="ex: /home/caca/texto.tex" style="width: 90%"/>
  </p>
  <input type='submit' value='Create pdf'/>
  <%= link_to 'Show pdf', show_pdf_url(:format => :pdf), :class => 'btn btn-small btn-success' %>
</form>