<h5>Referências Gerais</h5>
<% if @general_refs.count > 0 %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Citação direta</th>
        <th>Citação indireta</th>
        <th>Texto</th>
        <th>Ação</th>
      </tr>
      </thead>
      <% @general_refs.each do |element| %>
          <% if !element.nil? %>
              <tr>
                <td><%= element.direct_citation %></td>
                <td><%= element.indirect_citation %></td>
                <td><%= sanitize(element.reference_text, :tags => []) %></td>
                <td>
                  <%= link_to 'Editar', :controller => element.class.to_s.tableize, :action => 'edit', :id => element.id, moodle_user: @tcc.moodle_user %>
                  <%#= link_to 'Remover', general_ref_path(element, moodle_user: @tcc.moodle_user),
                               :confirm =>  t(:label_confirm_message), :method => :delete %>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>
<% else %>
    <p>Não há referências cadastradas.</p>
<% end %>

<div class="alert alert-block">
  As referências bibliográficas do tipo "Geral" foram descontinuadas. Por favor utilize os demais tipos.
</div>

<%#= link_to 'Criar', new_general_ref_path(moodle_user: @tcc.moodle_user), :class => 'btn btn-small' %>


