/* Tema Moodle UFSC */
$body-bg: #FAFAFA;
$table-bg: #FFFFFF;
$headings-color: #004E95;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "jquery.ui.autocomplete";
@import "formtastic-bootstrap";
@import "bootstrap-datepicker3";
@import "base";
@import "instructor_admin";
@import "tcc";
@import "style";