#hubs-table {
  td.status, th.status {
    width: 100px;
    text-align: center;
  }
  td.grades, th.grades {
    width: 80px;
    text-align: center;
  }
}

#refresh-list {
  float: right;
  display: inline-block;
  margin-top: -3em;
}