#tcc-table {
  th.status, th.action {
    text-align: center;
  }

  th.name {
    width: 100%;
  }

  th.studentname {
    width: 20%;
  }

  th.leadername {
    width: 30%;
  }

  th.title {
    width: 50%;
  }

  td.title {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 50%;
  }

  td.status {
    text-align: center;
    vertical-align: middle;
    height: 100%;
  }

  td.status a {
    white-space: nowrap;
    width: 100%;
    height: 100%;
    display: block;
  }

  td.status.new {
    background: #f4f4f4;
    a {
      color: gray;
    }
  }

  td.status.review,
  td.status.insert_grade,
  td.status.for_evaluation
  {
    background: $alert-danger-bg;
    color: $alert-danger-text;
    a {
      color: darken($alert-danger-text, 10%);
      font-weight: 700;
    }
  }

  td.status.draft,
  td.status.waiting {
    background: $alert-warning-bg;
    color: $alert-warning-text;
    a {
      color: darken($alert-warning-text, 10%);
    }
  }

  td.status.done,
  td.status.readonly,
  td.status.valued {
    background: $alert-success-bg;
    color: $alert-success-text;
    a {
      color: darken($alert-success-text, 10%);
    }
  }


  td.action {
    vertical-align: middle;
  }
}