#tcc-table {
  th.status, th.action {
    text-align: center;
  }

  th.name {
    width: 100%;
  }

  td.status {
    text-align: center;
    vertical-align: middle;
    height: 100%;
  }

  td.status a {
    white-space: nowrap;
    width: 100%;
    height: 100%;
    display: block;
  }

  td.status.new {
    background: #f4f4f4;
    a {
      color: gray;
    }
  }

  td.status.review,
  td.status.insert_grade,
  td.status.for_evaluation,
  {
    background: $errorBackground;
    color: $errorText;
    a {
      color: darken($errorText, 10%);
      font-weight: 700;
    }
  }

  td.status.draft,
  td.status.waiting {
    background: $warningBackground; //$infoBackground;
    color: $warningText;
    a {
      color: darken($warningText, 10%);
    }
  }

  td.status.done,
  td.status.readonly,
  td.status.valued {
    background: $successBackground;
    color: $successText;
    a {
      color: darken($successText, 10%);
    }
  }


  td.action {
    vertical-align: middle;
  }
}