.formtastic textarea {
  width: 400px;
}

.collapse {
  height: 100px;
  overflow-y: scroll;
}

#tcc_grade_input {
  label {
    width: 150px;
    float: left;
  }

  input {
    width: 90px;
    display: inline;
  }
}

section.hub, section.final_considerations {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
section.hub, section.student-info {
  border-bottom: solid 1px darkgrey;
}
section.student-info .dl-horizontal dt {
  width: 100px;
  text-align: left;
}
section.student-info .dl-horizontal dd {
  margin-left: 0;
}
