<h3>Escolha o tipo de referência que você deseja cadastrar</h3>
<ul>
  <li><%= link_to 'Referência Geral', new_general_ref_path %></li>
  <li><%= link_to 'Referência de Livros', new_book_ref_path %></li>
</ul>


