<div style="margin-top: 15px;">
  <%= semantic_form_for object, :url => update_state_url, :method => :post do |h| %>
      <div style="margin-left: 10px;" class="pull-left"><%= h.input :new_state, :label => false, :as => :select, :collection => Hub.new_states_collection %></div>
      <span style="margin-left: 10px;"><%= h.action :submit, :label => 'Alterar estado' %></span>
  <% end %>
</div>
